* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.pageformat {
  margin: 0px auto 0px auto;
  width: 90%;
  margin-top: 50px;
}

.globalText {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}

/* Style for the button */

/* Style for the content box (initially hidden) */
.hideMe {
  display: none;
}

/* Style for the content inside the box */
.content {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border: 1px solid #ccc;
}

.footerCss {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.links {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* a {
  margin-right: 100px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
  padding: 14px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 16px;
} */

.facebookimg {
  width: 50px;
  height: 50px;
}

.twitterimg {
  width: 50px;
  height: 50px;
}

.youtubeimg {
  width: 50px;
  height: 50px;
}